.manrope{
    font-family: 'Manrope', sans-serif;
}

.manrope-500{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.text-biru{
    color: #5E85BC !important;
}

.text-biru-2{
    color: #5376A7 !important;

}

.bg-biru{
    background-color: #5E85BC !important;
}

.nav-item-main .nav-link{
    margin: 0 20px;
}

.nav-item-auth .nav-link{
    margin: 0 6px;
}

.nav-masuk{
    background-color: #e6e6e6 !important;
    /* padding: 8px 31px !important;
    border: 1em; */
    color: #8C96D0 !important;
}

.nav-daftar{
    background-color: #5E85BC !important;
    color: #ffffff !important;
}

/* HERO */

.hero .text-1{
    font-size: 24px;
    line-height: 55px;
}

.btn-hero{
    background-color: #5E85BC !important;
    color: #ffffff !important;
    font-size: 20px;
}

/* AFTER HERO */
.after-hero{
    color: white;
}
.after-hero .kolom-1{
    background-color: #EF4F4F;
    text-align: center;
}
.after-hero .kolom-2{
    background-color: #AB56BF;
    text-align: center;
}
.after-hero .kolom-3{
    background-color: #E47F38;
    text-align: center;
}

.after-hero p{
    margin: 0;
}

.after-hero .h3{
    margin: 0;
}

/* Misi */
.border-biru{
    border: 1px solid #5376A7 !important;
}

.box-img-text{
        display: flex;
        align-items:center;
}

.card-misi{
    border-radius: 12px !important;
}

/* Testimoni */

.card-testi{
    position: relative;
    max-width: 600px;
    height: auto;
    border: 1px solid #5E85BC;
    margin: 25px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.123);
}
.card-testi:after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 0px solid #5E85BC;
    border-left: 0px solid #5E85BC;
    border-bottom: 1px solid #5E85BC;
    border-right: 1px solid #5E85BC;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    content: '';
    transform: rotate(45deg);
    margin-top: -9.55px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 5px 0px;
}

/* tentang */
.line{
    content: '';
    padding: 1px 0;
    background-color: #dbe2ef81;
    width: 35%;
}

.btn-tentang-cek-soal{
    background-color: #5376A7 !important;
    color: white !important;
    border-radius: 13px !important;
    font-size: 12px !important;
    padding: 10px 15px !important;
}

.btn-tentang-cek-soal:hover{
    background-color: #3f70b4 !important;
}

.pointer{
    cursor: pointer;
}

.FAQ-tanya{
    color: #5376A7 !important;
}

.FAQ-tanya:hover{
    color: #30558a !important;
}

.FAQ-jawab{
    transition: .5s;
}